.login__btn1{
    border: none;
    padding: 5px 10px;
}

.login__btn2{
    border: none;
    padding: 5px 10px;
    background-color: $ball-blue;
    color: $white;

    &:hover{
        background-color: $middle-blue;
    }

    &:active {
        background-color: $silver-chalice;
      }
}

.btn-ofert1{
    border: none;
    padding: 10px 100px;
    background-color: $ball-blue;
    color: $white;
    margin-top: 10px;
}

.btn-ofert2{
    border: none;
    padding: 10px 89px;
    background-color: $ball-blue;
    color: $white;
    margin-top: 10px;
}