.last{
    background-color: $raising-black;
    padding: 35px 20px 40px 43px;
}

@media (max-width: $viewport-xsmall){
    .last{
        background-color: $raising-black;
        padding: 30px 45px 20px 61px;
    }
}

.last__menu__items__pie{
    display: flex;
    padding-left: 20px;
    
    li{
        padding-right: 20px;
        color: $white;
        font-size: $small;
        font-family: $Raleway;

    }
}

.last__menu__legal{
    color: $white;
    font-size: $small;
    font-family: $Raleway;
    text-align: end;
    padding-right: 53px;
}