
.section__about{
width: 29%;
padding-top: 76px;
padding-left: 76px;
}

@media (max-width: $viewport-xsmall){
.section__about{
width: 71%;
padding-top: 76px;
padding-left: 76px;
}
}

.section__fondo{
background-image: url('../img/bg-hero.svg');
background-repeat: no-repeat;
background-size: 100%;
height: 130vh;
background-position: right bottom;
}

@media (max-width: $viewport-xsmall){
.section__fondo{
background-image: url('../img/bg-hero.svg');
background-repeat: no-repeat;
background-size: 133%;
height: 92vh;
background-position: right bottom;
}
}

/*Características*/

@media (max-width: $viewport-xsmall){
.section{
padding-top: 15%;
}
}

@media (max-width: $viewport-xsmall){
.characteristics{
padding-right: 6%;
padding-top: 17%;
}
}

.characteristics{
padding-left: 6%;
padding-top: 6%;
padding-bottom: 7%;
}


@media (max-width: $viewport-xsmall){
.section__graphics__svg{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    }
}

.section__graphics__svg{
display: flex;
justify-content: center;
}

.section__text{
width: 63%;
padding-top: 30px;
}

@media (max-width: $viewport-xsmall){
.section__text{
width: 88%;
padding-top: 30px;
padding-left: 10%;
padding-bottom: 20%;
}
}


/*Precios*/

.fondo2{
background-image: url('../img/bg-price.svg');
background-repeat: no-repeat;
background-size: 110%;
height: 130vh;
background-position: center;
}

@media (max-width: $viewport-xsmall){
.fondo2{
background-image: url('../img/bg-price.svg');
background-size: 775%;
height: 235vh;
background-position: center;
}
}

.section__price{
padding-top: 160px;
padding-bottom: 50px;
color: white;
}

@media (max-width: $viewport-xsmall){
.section__price{
padding-top: 70%;
padding-bottom: 15%;
color: white;
}
}